*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icones-comeco{
   margin-left: 780px;
   padding-top: 10px;
   
}

.icones-inicio i {
    width: 44px;
    height: 44px;
    font-size: 2.1em;
    flex-shrink: 0;
    margin: 20px 60px 30px;
    cursor: pointer;
   }

  .imagem-banner-sanddz {
    width: 1160px;
    height: 180px;
    margin: auto; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .imagem-banner-sanddz:hover {
    transform: scale(1.1); 
}

  .ajuste-banner-sanddz {
    padding-top: 95px;
    margin-left: -100px;
    
  }

  .negrito{
    font-weight: bold;
    font-size: 55px;
  }

  header{
    margin-left: 100px;
    padding-top: 45px;
    float: left;
  }

  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    display: inline-block; 
    transition: transform 0.3s ease-in-out; 
  
}

a {
    font-size: 30px; 
}

a:hover {
    transform: scale(1.2);
}

h2{
    font-weight: bold;
    font-size: 35px;  
}

.loja-produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 45px; 
    padding-top: 108px;
    margin-left: 80px;
}

#produto1, #produto2, #produto3, #produto4, #produto5, #produto6 {
    flex: 1;
    max-width: 300px; 
}


.main-produto {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-produto img {
    width: 204px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.main-produto:hover {
    transform: scale(1.2);
}

.fullstack{
    width: auto;
    height: auto;
    margin: auto; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.fullstack:hover {
    transform: scale(1.3); 
}






