*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, rgba(218, 149, 229, 0.82) 0%, rgba(231, 15, 15, 0.00) 100%);
    height: 100vh;
    width: 100%;
    margin-left: 110px;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
  }

  h1 {
    text-align: center;
    font-size: 10em;
    margin-top: 100px;
    color: #FBCB23;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px #73297E;
    font-family: 'Roboto Serif', serif;
    font-weight: 900;
  }

  .marca_shopping_china {
    margin-top: 100px;
    padding-left: 100px;
    display: inline-block;
    position: relative;
    overflow: hidden;
  }
  
  .marca_shopping_china img {
    box-shadow: 0px 4px 4px 0px #000;
  }

  .search-input {
    border: 2px solid #000;
    border-radius: 20px;
    padding: 10px;
    width: 647px;
    height: 80px;
    padding-left: 100px;
    box-shadow: 0px 4px 4px 0px #000;
    font-size: 30px;
    transition: background-color 0.3s ease; 
    cursor: pointer; 
    opacity: 0;
    animation: fade-in 0.5s ease forwards;
    /* background: #73297E; */
    
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .search-input:hover {
    background-color: #eaeaea; 
  }

  .search-container {
    /* padding-left: 1400px;
    margin-top: -1040px; */
    /* position: relative;
  display: inline-block; */
  /* position: relative;
  display: inline-block; */

  position: absolute;
  top: 335px;
  left: 1300px;
   }

   /* .search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #000;
  } */

  .search-container .icone-busca {
    /* width: 50px;
    height: 50px; */
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease; 
    cursor: pointer;
  /* padding-left: 1400px;
  margin-top: -1040px; */
  }

  .search-container .icone-busca:hover {
    /* transform: rotate(45deg);  */
    /* transform: scale(3.0); */
    /* transform: rotateY(15deg); */
    /* transform: translateX(2px); */
    transform: translateX(1px);
  }

  .search-input::placeholder {
    font-size: 32px; 
  }

  .user-carro figure {
    display: flex;
    align-items: center;
    position: relative;
  }

.user-carro .usuario,
.user-carro .carro,
.user-carro .loca1,
.user-carro .loca2 {
  position: absolute;
  top: -1020px; /* subir */
}

.user-carro .loca1,
.user-carro .loca2 {
  margin-left: 60px; /* tentativa espaçamento */
}

/* .user-carro .loca1 {
    /* float: right; */     /* Move o elemento para a esquerda */
  /* }
/* 
  .user-carro .loca2 {
    /* float: left; Move o elemento para a esquerda */
  /* } */ */ */ */

.user-carro .usuario,
.user-carro .carro {
  margin-left: 60px; /* tentativa espaçamento */
}

.user-carro .usuario {
    left: 2000px;
    height: 200px;
    width: 200px;
    cursor: pointer; 
  }

  .user-carro .loca1 {
    left: 2290px;
    color: #FBCB23;
    text-shadow: 0px 4px 4px #000;
    font-family: Roboto;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer; 
  }

  .user-carro .carro {
    left: 2700px;
    height: 200px;
    width: 200px;
    cursor: pointer; 
  }
  
  .user-carro .loca2 {
    left: 3000px;
    color: #FBCB23;
    text-shadow: 0px 4px 4px #000;
    font-family: Roboto;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer; 
  }

  .user-carro .garota-compra {
    position: absolute;
    top: -600px;
    left: 1420px;

  }

  .user-carro .texto-shopping-china {
    position: absolute;
    top: 750px; /* Ajuste a posição vertical conforme necessário */
    left: 2600px; /* Ajuste a posição horizontal conforme necessário */
    font-size: 140px;
    color: #FBCB23;
    text-align: justify;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px #73297E;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-right: 110px;
  }

  .retangulo {
    width: 5100px;
    height: 4000px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px #000;
    position: relative; 
    align-items: center;
    margin-left: auto; 
    margin-right: auto; 
    top: 1100px; 

    /* width: 4000px;
    height: 2000px;
    border-radius: 0;
    position: relative; 
    margin-left: auto; 
    margin-right: auto; 
    top: 1600px; 
  transform: translateY(-50%);  */
  }

  /* .rodape{
    background-color: #73297E;
   margin-top: 1850px;
    position: fixed;
    border: slateblue;
    margin-bottom: 100px;
  } */

  /* #parte-menu {
    display: flex;
    justify-content: center;
    width: 4800px;
    margin: 0 auto;
  }
  
  .produtos {
    width: 1600px;
    text-align: center;
    margin-right: 20px;
  }
  
  .centralizado {
    margin-right: auto;
    margin-left: auto;
    margin: 750px;
  }

  h2 {
    text-align: center;
    font-size: 7em;
    margin-top: 100px;
    color: #73297E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px #FBCB23;
    font-family: 'Roboto Serif', serif;
    font-weight: 900;
  }

  #parte-menu {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin: 0 auto;
  }
  
  #produto1,
  #produto2 {
    width: 50%;
  }
  
  #produto3,
  #produto4 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #produto5,
  #produto6 {
    width: 50%;
    margin-left: auto;
  } */

  /* #parte-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 4800px;
    margin: 0 auto;
  }
  
  .produtos {
    width: 1600px;
    text-align: center;
    margin-right: 20px;
  }
  
  .centralizado {
    margin-right: auto;
    margin-left: auto;
  }
  
  .direita {
    margin-left: auto;
  }
  
  h2 {
    text-align: center;
    font-size: 7em;
    margin-top: 100px;
    color: #73297E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px #FBCB23;
    font-family: 'Roboto Serif', serif;
    font-weight: 900;
  } */

  #parte-menu {
    display: flex;
    justify-content: space-between;
    width: 4800px;
    margin: 0 auto;
  }
  
  .coluna {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .produtos {
    width: 1600px;
    text-align: center;
    margin-right: 20px;
  }
  
  .centralizado {
    margin-right: auto;
    margin-left: auto;
  }
  
  .direita {
    margin-left: auto;
  }
  
  h2 {
    text-align: center;
    font-size: 7em;
    margin-top: 100px;
    color: #73297E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px #FBCB23;
    font-family: 'Roboto Serif', serif;
    font-weight: 900;
  }
  
  .produto {
    text-align: center;
  }
  
  .produto h3 {
    margin-top: 10px;
  }
  
  .produto img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .produto2 img {
    width: 1200px;
    height: 1200px;
    text-align: center;
  }

  .produto2 img {
    margin-top: 10px; 
    margin-left: 365px; 
 
  }
 

  .produto2 h3 {
    color: black;
    margin-top: 10px;
    margin-top: 150px; 
    margin-left: 200px;
    font-size: 80px;
    text-align: justify;
  }

  .produto4 img {
    width: 1200px;
    height: 1200px;
    text-align: center;
  }

  .produto4 img {
    margin-top: 120px; 
    margin-left: 365px;
 
  }

  .produto4 h3 {
    color: black;
    margin-top: 10px;
    margin-top: 150px; 
    margin-left: 200px;
    font-size: 80px;
    text-align: justify;
  }

  .produto6 img {
    width: 1200px;
    height: 900px;
    text-align: center;
  }

  .produto6 img {
    margin-top: 150px; 
    margin-left: 365px;
 
  }

  .produto6 h3 {
    color: black;
    margin-top: 10px;
    margin-top: 300px; 
    margin-left: 200px;
    font-size: 80px;
    text-align: justify;
  }

  .produto1 img {
    width: 1200px;
    height: 1200px;
    text-align: center;
  }

  .produto1 img {
    margin-top: 230px; 
    margin-left: 365px;
 
  }

  .produto1 h3 {
    color: black;
    margin-top: 10px;
    margin-top: 250px; 
    margin-left: 200px;
    font-size: 80px;
    text-align: justify;
  }

  .produto3 img {
    width: 1200px;
    height: 1200px;
    text-align: center;
  }

  .produto3 img {
    margin-top: 230px; 
    margin-left: 365px;
 
  }

  .produto3 h3 {
    color: black;
    margin-top: 10px;
    margin-top: 250px; 
    margin-left: 200px;
    font-size: 80px;
    text-align: justify;
  }

  .produto5 img {
    width: 1200px;
    height: 900px;
    text-align: center;
  }

  .produto5 img {
    margin-top: 230px; 
    margin-left: 365px;
 
  }

  .produto5 h3 {
    color: black;
    margin-top: 10px;
    margin-top: 250px; 
    margin-left: 200px;
    font-size: 80px;
    text-align: justify;
  }

  .produto1 {
    transition: transform 0.3s ease-in-out;
  }
  
  .produto1:hover {
    transform: scale(1.2);
  }

  .produto2 {
    transition: transform 0.3s ease-in-out;
  }
  
  .produto2:hover {
    transform: scale(1.2);
  }
  .produto3 {
    transition: transform 0.3s ease-in-out;
  }
  
  .produto3:hover {
    transform: scale(1.2);
  }

  .produto4 {
    transition: transform 0.3s ease-in-out;
  }
  
  .produto4:hover {
    transform: scale(1.2);
  }

  .produto5 {
    transition: transform 0.3s ease-in-out;
  }
  
  .produto5:hover {
    transform: scale(1.2);
  }

  .produto6 {
    transition: transform 0.3s ease-in-out;
  }
  
  .produto6:hover {
    transform: scale(1.2);
  }

  .marca_shopping_china img {
    transition: transform 0.3s ease-in-out;
    
  }
  
  .marca_shopping_china img:hover {
    transform: scale(1.1);
  }

  .garota-compra {
    transition: transform 0.3s ease-in-out;
  }

  .garota-compra:hover {
    transform: scale(1.5);
  }

  .site-footer {
    background-color: #73297E;
    margin-top: 1870px; 
    padding: 150px 0; 
    color: #FFF;
    width: 100%;
    height: 100vh;
    /* margin-left: -100px; */
    position: relative;
    left:  50%;
    
    transform: translateX(-50%);
    box-shadow: 0px 4px 4px 0px #000;
    }

    .footer-section h3 {
    /* text-align: center; */
    font-size: 10em;
    margin-top: 100px;
    color: #FBCB23;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px #73297E;
    font-family: 'Roboto Serif', serif;
    font-weight: 900;
    margin-left: 120px;
    }

    .footer-section p {
      color: #FFF;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px #000;
      font-size: 6em;
      margin-left: 120px;
      margin-bottom: 15px;
    }

    .footer-section a {
      color: #FFF;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px #000;
      font-size: 4em;
      margin-left: 120px;
     
    }

    .developer-info p {
      color: white;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px #000;
      font-size: 5em;
      margin-left: 120px;
      box-shadow: 0px 4px 4px 0px #000;
      margin-right: 120px;
      position: absolute;
      top: 50%;
      right: 0;
       transform: translate(0, -50%);
       text-align: right;

    }

    .developer-info img {
      box-shadow: 0px 4px 4px 0px #000;
      position: absolute;
      top: 65%;
      right: 0;
      transform: translate(0, -50%);
      text-align: right;
      margin-right: 120px;
     

    }

    .developer-info img {
      transition: transform 0.3s ease-in-out;

    }
  
    .developer-info img:hover {
      transform: scale(2.0) translateX(-100px); 
      
    }

   