*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, rgba(218, 149, 229, 0.82) 0%, rgba(231, 15, 15, 0.00) 100%);
}

h1 {
    text-align: center;
    font-size: 4em;
    margin-top: 100px;
    color: #FBCB23;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px #73297E;
    font-family: 'Roboto Serif', serif;
    font-weight: 900;
  }

  .marca_shopping_china {
    margin-top: 100px;
    padding-left: 100px;
    display: inline-block;
    position: relative;
    overflow: hidden;
  }
  
  .marca_shopping_china img {
    box-shadow: 0px 4px 4px 0px #000;
    width: 275px; 
    height: auto; 
  }

  .search-input {
    border: 2px solid #000;
    border-radius: 20px;
    padding: 10px;
    width: 333px;
    height: 30px;
    padding-left: 100px; 
    box-shadow: 0px 4px 4px 0px #000;
    font-size: 30px;
    transition: background-color 0.3s ease; 
    cursor: pointer; 
    opacity: 0;
    animation: fade-in 0.5s ease forwards;
    /* background: #73297E; */
    
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .search-input:hover {
    background-color: #eaeaea; 
  }

  .search-container {
  position: absolute;
  top: 255px;
  left: 400px;
   }



  .search-container .icone-busca {
    
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease; 
    cursor: pointer;
 
  }

  .search-container .icone-busca:hover {
  
    transform: translateX(1px);
  }

  .search-input::placeholder {
    font-size: 18px; 
  }

  /* inicio da parte de logo e foto carrinho */

  .usuario {
    position: absolute;
    top: 245px;
    left: 800px;
    height: 45px;
    width: 45px;
    cursor: pointer;
    
}

.loca1 {
    position: absolute;
    top: 250px;
    left: 875px;
    height: 45px;
    width: 45px;
    color: #FBCB23;
    text-shadow: 0px 4px 4px #000;
    font-family: Roboto;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.carro {
    position: absolute;
    top: 248px;
    left: 990px;
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.loca2 {
    position: absolute;
    top: 250px;
    left: 1065px;
    height: 45px;
    width: 45px;
    color: #FBCB23;
    text-shadow: 0px 4px 4px #000;
    font-family: Roboto;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.garota-compra {
    position: absolute;
    top: 330px;
    left: 430px;
    box-shadow: 0px 4px 4px 0px #000;
    width: 275px; 
    height: auto; 
}

.texto-shopping-china {
    position: absolute;
    top: 330px; /* Ajuste a posição vertical conforme necessário */
    left: 743px; /* Ajuste a posição horizontal conforme necessário */
    font-size: 30px;
    color: #FBCB23;
    text-align: justify;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px #73297E;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-right: 110px;
}





  .site-footer {
    background-color: #73297E;
    margin-top: 100px;
    padding: 50px 0;
    color: #FFF;
    width: 100%;
    position: relative;
    box-shadow: 0px 4px 4px 0px #000;
    height: auto;
     
}

.footer-section h3 {
    font-size: 3em;
    margin-top: 35px;
    color: #FBCB23;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px #73297E;
    font-family: 'Roboto Serif', serif;
    font-weight: 900;
    margin-left: 30px;
}

.footer-section p {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px #000;
    font-size: 1em;
    margin-left: 5%;
    margin-bottom: 10px;
    margin-left: 30px;
}

.footer-section a {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px #000;
    font-size: 1em;
    margin-left: 5%;
    margin-left: 30px;
}

.developer-info p {
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px #000;
    font-size: 1em;
    margin-left: 5%;
    box-shadow: 0px 4px 4px 0px #000;
    margin-right: 5%;
    position: absolute;
    top: 40%;
    right: 0;
    transform: translate(0, -50%);
    text-align: right;
}

.developer-info img {
    box-shadow: 0px 4px 4px 0px #000;
    position: absolute;
    top: 65%;
    right: 0;
    transform: translate(0, -60%);
    text-align: right;
    margin-right: 5%;
}

.developer-info img {
    transition: transform 0.3s ease-in-out;
    
}

.developer-info img:hover {
    transform: scale(0.9) translateX(-10px);
}